// --------------------------------------------------------------------------------- categories

.categories {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}

// --------------------------------------------------------------------------------- categories-title

.categories-title {
    margin-bottom: 35px;
}

// --------------------------------------------------------------------------------- categories-contant

.categories-elem-href {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.categories-elem-href:nth-child(4n) {
    margin-right: 0;
}

.categories-elem-wrap {
    width: 270px;
    height: 320px;
    background-color: #fff;
    border: 1px solid #e5e9f5;
    border-radius: 9px;
    padding: 10px;
}

.categories-img {
    width: 100%;
}

// --------------------------------------------------------------------------------- categories @media

@media (max-width: 1200px) {
    .categories-title {
        margin-bottom: 25px;
    }

    .categories-elem-wrap {
        width: 225px;
        height: 267px;
    }
}

@media (max-width: 992px) {
    .categories-title {
        margin-bottom: 20px;
    }

    .categories-elem-href {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .categories-elem-wrap {
        width: 170px;
        height: 202px;
    }
}

@media (max-width: 768px) {
    .categories {
        padding-top: 25px;
    }

    .categories-title {
        margin-bottom: 10px;
    }

    .categories-elem-wrap {
        width: 260px;
        height: 130px;
    }

    .categories-img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .categories-img {
        width: auto;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .categories {
        padding-top: 20px;
    }

    .categories-title {
        margin-bottom: 7px;
    }

    .categories-elem-href {
        margin-right: 0;
        width: 100%;
    }

    .categories-elem-wrap {
        width: 100%;
        height: 150px;
    }

    .categories-img {
        height: 120px;
    }
}
