// --------------------------------------------------------------------------------- categories

.categories {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}

// --------------------------------------------------------------------------------- categories-title

.general-title__categories {
    margin-bottom: 35px;
}

// --------------------------------------------------------------------------------- categories-contant

.categories-elem-href {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.categories-elem-href:hover {
    transform: scale(1.02);
    transition: transform 0.2s linear 0s;
}

.categories-elem-href:nth-child(4n) {
    margin-right: 0;
}

.categories-elem-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 270px;
    height: 320px;
    background-color: #fff;
    border: 1px solid #e5e9f5;
    border-radius: 9px;
    padding: 10px;
    overflow: hidden;
}

.categories-img {
    width: 100%;
}

.categories-line {
    width: 70%;
    height: 1px;
    background-color: #e5e9f5;
}

.categories-elem-title {
    font-family: "Lato-Bold";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4e4e4e;
}

// --------------------------------------------------------------------------------- categories @media

@media (max-width: 1200px) {
    .categories-title {
        margin-bottom: 25px;
    }

    .categories-elem-wrap {
        width: 225px;
        height: 267px;
    }

    .categories-elem-title {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 992px) {
    .categories-title {
        margin-bottom: 20px;
    }

    .categories-elem-href {
        margin-right: 3px;
        margin-bottom: 3px;
    }

    .categories-elem-wrap {
        width: 170px;
        height: 235px;
    }

    .categories-elem-title {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 768px) {
    .categories {
        padding-top: 25px;
    }

    .categories-title {
        margin-bottom: 10px;
    }

    .categories-elem-wrap {
        width: 252px;
        height: 177px;
    }

    .categories-img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .categories-img {
        width: auto;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .categories {
        padding-top: 20px;
    }

    .categories-title {
        margin-bottom: 7px;
    }

    .categories-elem-href {
        margin-right: 0;
        width: 100%;
    }

    .categories-elem-wrap {
        width: 100%;
    }

    .categories-img {
        height: 120px;
    }
}
