// --------------------------------------------------------------------------------- general-classes

.clear-both {
    clear: both;
}

.general-title {
    font-family: "RobotoCondensed-Bold";
    font-size: 32px;
    line-height: 37px;
    color: #4e4e4e;
}

// --------------------------------------------------------------------------------- general-slider

.general-slider-elem {
    padding: 10px;
    border: 1px solid #e5e9f5;
}

.slider-elem-wrap {
    display: block;
}

.slider-elem-wrap:hover {
    transform: scale(1.02);
    transition: transform 0.2s linear 0s;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: -20px;
}

.slick-prev {
    left: 93%;
}

.slick-next {
    right: 0;
}

.slick-prev::before,
.slick-next::before {
    content: "";
    display: block;
    width: 10px;
    height: 17px;
    background-image: url("../img/chevron-big-left.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-next::before {
    background-image: url("../img/chevron-big-left.svg");
}

.slick-next::before {
    background-image: url("../img/chevron-big-right.svg");
}

.slider-hit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 35px;
    border-radius: 40px;
    font-family: "RobotoCondensed-Bold";
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: #c60b0b;
    opacity: 0.8;
}

.slider-hit__off {
    opacity: 0;
}

.slider-img {
    width: 90%;
    margin: 0 auto;
}

.slider-title {
    margin-top: 20px;
    font-family: "RobotoCondensed-Bold";
    font-size: 18px;
    line-height: 21px;
    color: #4e4e4e;
}

.slider-stock {
    margin-top: 4px;
    font-family: "Lato-Medium";
    font-size: 12px;
    line-height: 14px;
    color: #1077d6;
}

.slider-stock__red {
    color: #c60b0b;
}

.slider-price {
    margin-top: 10px;
    font-family: "Lato-Bold";
    font-size: 16px;
    line-height: 19px;
    color: #4e4e4e;
    opacity: 0.6;
}

// --------------------------------------------------------------------------------- general-classes @media

@media (max-width: 1200px) {
    .slick-prev {
        left: 92%;
    }

    .slider-hit {
        width: 113px;
        height: 32px;
    }
}

@media (max-width: 992px) {
    .general-title {
        font-size: 26px;
        line-height: 30px;
    }

    .slick-prev {
        left: 90%;
    }

    .slider-hit {
        width: 80px;
        height: 24px;
        font-size: 10px;
        line-height: 12px;
    }

    .slider-title {
        font-size: 14px;
        line-height: 16px;
    }

    .slider-price {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 768px) {
    .general-title {
        font-size: 22px;
        line-height: 26px;
    }

    .slick-prev {
        left: 86%;
    }

    .slider-title {
        margin-top: 10px;
    }

    .slider-price {
        margin-top: 5px;
    }
}

@media (max-width: 576px) {
    .slick-prev {
        left: 82%;
    }

    .slider-hit {
        width: 55px;
        height: 15px;
        font-size: 9px;
        line-height: 11px;
    }

    .slider-price {
        font-size: 13px;
        line-height: 16px;
    }
}
