$headerPresentationMinHeight: 530px; // .header-presentation и .header-presentation::before - должна быть равная min-height

// --------------------------------------------------------------------------------- header-top

.header-top-wrap {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.header-top {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.header-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-img {
    width: 200px;
}

.header-phones,
.header-mails,
.header-mails-md {
    position: relative;
    line-height: 20px;
    color: #4e4e4e;
}

.header-call-xs {
    display: none;
}

.header-mails-md {
    display: none;
}

.header-phones-list::before,
.header-mails-list::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -25px;
    margin: auto 0;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../img/phone_hesder.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-phones-list::before {
    background-image: url("../img/phone_hesder.svg");
}

.header-mails-list::before {
    background-image: url("../img/mail_black.svg");
}

.header-call-btn {
    padding: 13px 30px;
    background-color: #c60b0b;
    border-radius: 1px;
    font-size: 18px;
    color: #fff;
}

// --------------------------------------------------------------------------------- header-menu

.header-menu,
.nav-nested {
    background-color: #444;
    color: #fff;
}

.nav-container {
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    font-size: 0;
}

.nav-list-elem {
    position: relative;
    display: inline;
    font-size: 18px;
}

.nav-elem-btn {
    display: inline-block;
    padding: 13px 80px 13px 44px;
}

.nav-elem-btn:hover {
    background-color: #c60b0b;
}

.nav-elem-btn__menu::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 12px;
    display: block;
    width: 25px;
    height: 13px;
    background-image: url("../img/hamburger.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 576px) {
        left: 7px;
    }
}

.nav-elem-btn__menu::after {
    content: "";
    position: absolute;
    bottom: 3px;
    right: 55px;
    display: block;
    width: 20px;
    height: 12px;
    background-image: url("../img/chevron_down.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 576px) {
        right: 17px;
    }
}

.nav-nested {
    position: absolute;
    display: none;
    max-height: 600px;
    overflow-y: auto;
    &.is-toggle {
        display: block;
    }
}

.nav-nested-elem:hover {
    background-color: #c60b0b;
}

.nested-elem-btn {
    display: inline-block;
    padding: 12px 28px;
    width: 400px;
    font-size: 14px;
    line-height: 17px;
}

.search-form {
    position: relative;
}

.search-form-enter {
    width: 500px;
    height: 40px;
    padding-left: 16px;
    padding-right: 37px;
    background-color: rgba(196, 196, 196, 0.3);
    border: 0;
    border-radius: 30px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
}

.search-form-btn,
.search-btn {
    width: 20px;
    height: 20px;
    background-color: rgba(196, 196, 196, 0);
    background-image: url("../img/search_white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}

.search-btn {
    display: none;
}

.search-btn:hover {
    cursor: pointer;
}

.search-form-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    margin: auto 0;
}

.search-form-btn:hover {
    cursor: pointer;
}

// --------------------------------------------------------------------------------- header-presentation

.header-presentation {
    height: 100vh;
    min-height: $headerPresentationMinHeight;
    background-image: url("../img/header-presentation_bg-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-presentation::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    min-height: $headerPresentationMinHeight;
    background: linear-gradient(284deg, rgba(229, 229, 231, 0.5) 40%, rgba(229, 229, 231, 0) 40%), linear-gradient(284deg, rgba(229, 229, 231, 0) 42%, rgba(229, 229, 231, 0.5) 42%, rgba(229, 229, 231, 0.5) 44%, rgba(229, 229, 231, 0) 44%), linear-gradient(90.44deg, rgba(19, 19, 19, 0.7) 1.18%, rgba(28, 28, 28, 0.588) 52.97%, rgba(17, 17, 17, 0.7) 98.68%);
    z-index: 0;
}

.presentation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.presentation-title {
    width: 33.333%;
}

.presentation-title-elem,
.presentation-img-elem {
    position: relative;
    z-index: 1;
}

.presentation-title-elem {
    width: 575px;
    top: -70px;
    font-family: "RobotoCondensed-Bold";
    font-size: 32px;
    line-height: 132.69%;
    text-transform: uppercase;
    color: #fff;
}

.presentation-img-elem {
    width: 100%;
    top: 50px;
}

// --------------------------------------------------------------------------------- header @media

@media (max-width: 1200px) {
    .presentation-title-elem {
        width: 565px;
        font-size: 26px;
        top: -45px;
    }
}

@media (max-width: 992px) {
    .header-top {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .header-phones {
        text-align: end;
    }

    .header-phones-list,
    .header-mails-list {
        width: max-content;
        margin: auto 0 auto auto;
    }

    .header-phones-list {
        position: relative;
    }

    .header-mails {
        display: none;
    }

    .header-mails-md {
        display: block;
        margin-top: 5px;
    }

    .header-call-btn {
        font-size: 16px;
    }

    .nav-list-elem {
        font-size: 16px;
        line-height: 19px;
    }

    .search-form-enter {
        width: 328px;
        height: 36px;
    }

    .presentation-title-elem {
        width: 475px;
        font-size: 22px;
        top: -20px;
    }
}

@media (max-width: 768px) {
    .header-phones,
    .header-mails,
    .header-mails-md,
    .header-call-btn {
        font-size: 14px;
    }

    .nav-list {
        &.is-toggle {
            display: none;
        }
    }

    .nested-elem-btn {
        width: 320px;
    }

    .search-wrap {
        &.is-search-btn-toggle {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: right;
        }
    }

    .search-form {
        display: none;
        width: 100%;
        &.is-toggle {
            display: block;
        }
    }

    .search-form-enter {
        width: 100%;
    }

    .search-btn {
        display: block;
        &.is-toggle {
            width: 16px;
            height: 16px;
            margin-left: 5px;
            background-image: url("../img/close_white.svg");
        }
    }

    .presentation-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .presentation-title {
        width: auto;
        top: 25%;
        position: relative;
        text-align: center;
    }

    .presentation-title-elem {
        width: auto;
        top: auto;
    }

    .presentation-img-elem {
        top: auto;
    }
}

@media (max-width: 576px) {
    .header-top {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-logo-img {
        width: 170px;
    }

    .header-phones,
    .header-mails,
    .header-mails-md {
        font-size: 13px;
    }

    .header-call-xs {
        display: block;
    }

    .header-call {
        display: none;
    }

    .header-call-btn {
        padding: 0;
        background-color: #fff;
        font-size: 12px;
        color: #c60b0b;
        border-bottom: 1px dashed #c60b0b;
    }

    .nav-elem-btn {
        padding-right: 33px;
        padding-left: 33px;
    }

    .nav-list-elem {
        font-size: 16px;
        line-height: 19px;
    }

    .nav-nested {
        left: -15px;
        max-height: 320px;
        max-height: 415px;
    }

    .nested-elem-btn {
        width: 100vw;
    }

    .presentation-title-elem {
        font-size: 20px;
    }
}
