// --------------------------------------------------------------------------------- recommendations
.recommendations {
    padding-top: 65px;
    padding-bottom: 45px;
}

.slick-arrow::before {
    color: #b2b6bc;
}
