// --------------------------------------------------------------------------------- @import reset and modules styles

@import "../../node_modules/reset-css/sass/reset";
@import "../../node_modules/slick-slider/slick/slick.scss";
@import "../../node_modules/slick-slider/slick/slick-theme.scss";

// --------------------------------------------------------------------------------- normalise

* {
    box-sizing: border-box;
    // overflow-x: hidden;
    // background-color: #fff;
}

body {
    max-width: 3072px;
    margin: 0 auto;
    font-family: "Lato-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.container,
.container-inner {
    padding: 0 15px;
    // width: 1170px;
    width: 1140px;
    margin: 0 auto;
}

// --------------------------------------------------------------------------------- normalise @media

@media (max-width: 1200px) {
    .container {
        // width: 990px;
        width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        // width: 750px;
        width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        // width: 570px;
        width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        min-width: 320px;
        width: 100%;
    }
}

// --------------------------------------------------------------------------------- @import styles

@import "fonts";
@import "general-classes";
@import "header";
@import "categories";
@import "recommendations";
@import "callback";
